@use 'vars' as v;

.head {
    @include v.flex(space-between,stretch);

    flex-direction: column;
    min-height: 100vh;
    background: url(/src/img/icons/symbol.svg) no-repeat center/auto 100%;
    &.active{
        background: none;
        display:block;
    }

&__header {
}
&__title {
    color: var(--white-color);
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}
&__link {
    width: 42px;
    height: 42px;
    border-radius: v.$rounded-full;
    color: var(--white-color);
    border: 2px solid var(--white-color);
    margin: 0 auto 30px;
    position: relative;

    @include v.hover{
            --white-color: var(--accent-color);
        }

    &::before{
        content: '';
        position: absolute;
        top: 9px;
        left: 12px;
        width: 14px;
        height: 14px;
        border-bottom: 2px solid var(--white-color);
        border-left: 2px solid var(--white-color);
        transform: rotate(-45deg);
    }
}
}
.header {
@media (min-width: v.$breakpoint-md) {
    padding-top: 50px;
}
&__container {
        @media (min-width: v.$breakpoint-md) {
            display: flex;
            flex-flow: column;
            gap: 30px;
}
@media (min-width: v.$breakpoint-lg){
    gap: 16px;
    position: relative;
}
}
&__inner {
    @include v.flex;

    margin: 0 -30px;
    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.2);

    @media (min-width: v.$breakpoint-md) {
        margin: 0;
        padding: 0;
        background: none;
        justify-content: flex-start;
        gap:6px;
}
    @media (min-width: v.$breakpoint-lg){
        justify-content: flex-end;
    }
}
&__lang {
    display: flex;
}
&__lang-item {
    cursor: pointer;
    padding: 5px 7px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: v.$rounded-sm;
    color: var(--white-color);

    &.active{
        background: var(--accent-color);
    }
}
&__address {
    display: none;
    @media (min-width: v.$breakpoint-md) {
        display: block;
        color: var(--grey-text-color);
}
}
&__phone {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 700;
    transition: v.$transition-delay;

    @include v.hover{
            --white-color: var(--accent-color);
        }
}

&__social {
    display: none;
        @media (min-width: v.$breakpoint-md) {
            color: var(--white-color);
        display: block;
        width: 24px;
        height: 24px;
        transition: color v.$transition-delay;

        @include v.hover{
            --white-color: var(--accent-color);
        }
}
}
&__social > svg{
    width: 24px;
    height: 24px;
}
&__box {
    position: relative;
    margin: 0 -15px;
    @include v.flex;
    padding: 15px 0 10px;

        @media (min-width: v.$breakpoint-md) {
        margin: 0;
        padding: 0;
}
@media (min-width: v.$breakpoint-lg){
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:30px;
}
}
&__box-logo {
    img{
    @media (min-width: v.$breakpoint-md) {
        width: 130px;
        height: 60px;
    }
    }
}
&__box-svg {
    position: absolute;
    top: 14px;
    left:66px;
    width: 12px;
    height: 26px;
    color: var(--accent-color);
    transform: translateX(7px);

    @media (min-width: v.$breakpoint-md) {
        width: 21px;
        height: 47px;
        top:0;
        left:130px;
    }
}
&__box-span{
    position: absolute;
    top:14px;
    left: 87px;
    font-size: 20px;
    line-height: 24px;
    color: var(--white-color);

    @media (min-width: v.$breakpoint-md) {
    top:0;
    left: 160px;
    font-size: 36px;
    line-height: 44px;
    }
}

&__box-burger {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
    user-select: none;
        @media (min-width: v.$breakpoint-md) {
            display: none;
}

    &::before, &::after, span{
        content: '';
        position: absolute;
        top: 9px;
        left: 6px;
        right: 6px;
        height: 2px;
        background: var(--white-color);
        }
        &::after{
            top: auto;
            bottom: 9px;
        }

        span{
            top: 50%;
            transform: translateY(-50%);
        }
}
&__box-burger:active{
    background: rgba(230, 230, 240, 1);
    border-radius: v.$rounded-sm;
}
&__nav {
    position: fixed;
    z-index: 10;
    top:100%;
    left: 8px;
    right: 8px;
    background: var(--white-color);
    padding: 12px;
    border-top-left-radius: v.$rounded-md;
    border-top-right-radius: v.$rounded-md;
    transition: transform v.$transition-delay;

    &.active{
        transform: translateY(-100%);
    }

        @media (min-width: v.$breakpoint-md) {
        position: static;
        background: transparent;
        padding: 0;
        border: 0;
        transform: translateY(0);
}
}
&__nav-close{
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: block;
    margin: 0 0 20px auto;

           @media (min-width: v.$breakpoint-md) {
        display: none;
}

}

&__nav-list {
    display: flex;
    flex-flow: column;
    gap: 15px;

    @media (min-width: v.$breakpoint-md){
        flex-flow: row;
    }

    @media (min-width: v.$breakpoint-lg){
        justify-content: flex-end;

    }
}
&__nav-item{
    text-align: center;
    background: var(--grey-bg-color);
    border-radius: v.$rounded-md;
    padding: 7px 0;
    cursor: pointer;

      @media (min-width: v.$breakpoint-md){
        background: none;
        border: 0;
        padding: 0;
      }

    &:active{
        background: var(--grey-separator-color);
    }
}
&__nav-link {
    color: var(--brand-regular-color);
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 700;
    transition: v.$transition-delay;
    font-size: 24px;
    line-height: 29px;
    padding: 7px 0;

    @media (min-width: v.$breakpoint-md){
        color: var(--white-color);
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
        font-size: 16px;
        line-height: 20px;

    @include v.hover{
        --white-color: var(--accent-color);
        border-color: var(--accent-color);
    }

    &.active{
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
    }
}

}
