
@use 'vars' as v;

.team{
    padding-top: 30px;
    padding-bottom: 60px;

    @media (min-width: v.$breakpoint-md){
        padding-top: 60px;
    }
    &__container{
      .swiper-pagination{
        --swiper-pagination-color: var(--brand-regular-color);
        --swiper-pagination-bullet-inactive-color: var(--swiper-pagination-color) ;
        --swiper-pagination-bullet-size: 16px;
            position: static;
            margin-top: 30px;
}
    }
    &__swiper{
  
    }
    &__wrapper {
  align-items: center;
}
    &__slide {
        border-radius: v.$rounded-md;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        @media (min-width: v.$breakpoint-lg){
            flex-direction: row;
        }
}
    &__img {
        height: 500px;
        flex: 0 0 400px;
        height: auto;
        position: relative;

        @media (min-width: v.$breakpoint-lg){
            flex: 0 0 400px;
            height: auto;
            position: relative;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;

            position: absolute;
            top: 0;
            left: 0;
        }
}
    &__inner {
        padding: 30px;
        background: var(--grey-bg-color);
}
    &__iner-bread {
        @include v.arrow-link;
}

    &__inner-title {
        @include v.subtitle;
        @include v.text-gradient;
        font-weight: 700;
        line-height: 37px;
        font-size: 30px;
        margin-top: 5px;

        @media (min-width: v.$breakpoint-md){
            font-size: 38px;
            line-height: 46px;
        }
}
    &__inner-name {
        margin-top: 30px;
        color: var(--grey-text-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        p+p{
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            margin-top: 6px;
        }
}
}



